<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36F2C4DA1D00A88A00893B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F2C4F31D00A88A00893B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F2C4FE1D00A88A00893B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
